article.blog-page {
    max-width: 700px;
    margin: 0 auto;

    header {
        position: relative;

        h1 {
            color: $a-orange-text;
            margin-top: .2em;
            margin-bottom: 0;
        }
        h2 {
            margin-top: 0;
        }
    }

    .youtube {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;

        iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    padding: 10px;
}
