$breakpoint-1: 1100px;

$a-blue: #2B395A;
$a-green: #265151;
$a-dark-brown: #876040;
$a-light-brown: #876F40;
$a-gray: #E7E2DE;

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@mixin opacity {
	-khtml-opacity:.70;
	-moz-opacity:.70;
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
	opacity:.70;
}

.alphaBackground {
	width: 100%;
	height: 100%;
	@include opacity;
	pointer-events: none;
}

body{
	background: #E1E5ED;

	color: $a-blue;

	a, a:visited {
		color: $a-green;
		text-decoration: none;
		font-weight: bold;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	font-family: 'Open Sans', sans-serif;

	h1 {
		font-size: 250%;
	}

	h2{
		margin-top: .5em;
		margin-bottom: .5em;
	}

	h3{
		margin-top: .3em;
		margin-bottom: .3em;
	}

	.contain {
	
	-webkit-box-shadow: 0 0 20px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0 0 20px rgba(50,50,50,1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);


	  position: relative;
	  background: url("../images/white_texture.png");
	  max-width: 1440px;
	  min-height: 100%;
	  margin: 0 auto;

	  footer {
	  	position: relative;
	  	height: 50px;
	  	clear: both;
	  	width: 100%;
	  	text-align: right;
	  	span {
	  		position: absolute;
	  		display: block;
	  		bottom: 0;
	  		right: 10px;
	  	}
	  }
	}
}

nav {

	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 20px;
	text-align: center;

	ul {
		background-color: rgba(179, 167, 141, .7);
		z-index: 100;
		display: block;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		li{
			float: left;
			display: block;
			width: 33%;
			@media screen and (max-width: $breakpoint-1) {
				width: 25%;
			}
		}
	}

	a {

		&.blogLink {
			display: none;
		}

		@media screen and (max-width: $breakpoint-1) {
			&.blogLink {
				display: inline;
			}
		}
	}
}

.subcontent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

nav.blogNav li{
	width: 25%;
}

@import "index";
@import "blog";