*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: url("../images/white_texture.png");

	.contain {
	  max-width: 1280px;
	  padding: 20px;
	  margin: 0 auto;

	  @media screen and (max-width: 960px){
	  	padding: 15px;
	  }
	  @media screen and (max-width: 700px){
	  	padding: 10px;
	  }
	  @media screen and (max-width: 550px){
	  	padding: 5px;
	  }
	  @media screen and (max-width: 400px){
	  	padding: 0;
	  }

	  footer {
	  	text-align:right;
	  	bottom: 0;
	  	display: block;
	  	width: 100%;
	  	clear: both;
	  }
	}
}

@import "index";
@import "blog";