.blog-me{
	width: 100%;
	header{
		width: 250px;
	}
}

.row{
	article {
		float: left;
		width: 33%;
		padding-left: 10px;
		padding-right: 10px;

		&:last-of-type{
			padding-right:0;
		}

		@media screen and (max-width: $breakpoint-1) {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
