#about900{
	background: url("../images/bg.png");
	background: url("../images/bg.png"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, #6082A1 60%); /* FF3.6+ */
	background: url("../images/bg.png"), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: url("../images/bg.png"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* Chrome10+,Safari5.1+ */
	background: url("../images/bg.png"), -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* Opera 12+ */
	background: url("../images/bg.png"), -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* IE10+ */
	background: url("../images/bg.png"), radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* W3C */
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto;
}

#aboutsite900{
	background: url('../images/code.png'), #1F4669;
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
}

#dev900{
	background: url("../images/ipredict.jpg");
	background: url("../images/ipredict.jpg"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, #6082A1 60%); /* FF3.6+ */
	background: url("../images/ipredict.jpg"), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: url("../images/ipredict.jpg"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* Chrome10+,Safari5.1+ */
	background: url("../images/ipredict.jpg"), -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* Opera 12+ */
	background: url("../images/ipredict.jpg"), -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* IE10+ */
	background: url("../images/ipredict.jpg"), radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#6082A1 60%); /* W3C */
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto;
}

#connect900{
	background: url("../images/bg2.png");
	background: url("../images/bg2.png"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, #1F4669 60%); /* FF3.6+ */
	background: url("../images/bg2.png"), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: url("../images/bg2.png"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#1F4669 60%); /* Chrome10+,Safari5.1+ */
	background: url("../images/bg2.png"), -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#1F4669 60%); /* Opera 12+ */
	background: url("../images/bg2.png"), -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#1F4669 60%); /* IE10+ */
	background: url("../images/bg2.png"), radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,#1F4669 60%); /* W3C */
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto;
}