section {
	float:left;
}

.blog-preview, .me {
	height: 300px;
}

.me {
	
	width:100%;
	margin-right: -480px;

	.container {
		position: relative;
		margin-right: 480px;
	}

	.alphaBackground{
		background: url("../images/v4bg.jpg");
		background-color: #d2d0c4;
		background-repeat:no-repeat;
	}

	background-size: auto;
	position:relative;

	header {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 310px;
		h1{
			margin: 0;
		}
		p {
			margin-top: 5px;
		}

		@media screen and (max-width: 600px){
			right: auto;
			bottom: auto;
			top: 10px;
			left: 10px;
			h1{
				text-align: left;
			}
			p {
				display: none;
			}
		}
	}

	@media screen and (max-width: $breakpoint-1) {
		margin-right: 0;
		.container {
			width: 100%;
		}
	}
}

.blog-preview{
	background: rgba(171, 158, 146, .5);
	position: relative;
	float: right;
	width:480px;
	height: 300px;


	.subcontent{
		padding-left: 20px;
		padding-right: 20px;
	}

	a {
		padding-right: 20px;
	}

	h2 {		
		text-align: right;
	}

	p:last-of-type{
		margin-bottom: .5em;
	}

	.read-more{
		float: right;
	}

	@media screen and (max-width: $breakpoint-1) {
		display:none;
	}
}

.tout {
	width: 25%;
	padding-left: 10px;
	padding-right: 20px;

	&:last-of-type{
		padding-right:0;
	}

	@media screen and (max-width: $breakpoint-1) {
		width: 50%;
		padding-right: 10px;
	}
	@media screen and (max-width: 600px) {
		width: 100%;
		h2 {
			text-align: right;
		}
		padding-left: 10px;
	}
}

.timeline {
	width: 1460px;
	margin-left: -10px;

	&:after{
		content: "";
		position: relative;
		bottom: -300px;
		left: 0px;
		border-top: 10px;
		border-right: 0;
		border-bottom: 0;
		border-left: 10px;
		border-style: solid;
		border-color: black transparent;
		display: block;
		width: 0;
	}

	&:before{
		content: "";
		position: relative;
		bottom: -310px;
		right: -1450px;
		border-top: 10px;
		border-right: 10px;
		border-bottom: 0;
		border-left: 0;
		border-style: solid;
		border-color: black transparent;
		display: block;
		width: 0;
	}
	
	@media screen and (max-width: 1440px) {
		margin-left: 0;
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-touch-action: pan-x;
		-webkit-overflow-scrolling: touch;
		&:after{
			display: none;
		}
		&:before{
			display: none;
		}
	}
	
	.slider {
	width: 1460px;
  	.version{
  		padding-top: 25px;
  		float: left;
  		height: 300px;
  		width: 25%;		  		
  	}
		.v1 {
			background: brown;
		}

		.v2 {
			background: orange;
		}

		.v3 {
			background: blue;
		}

		.v4 {
			background: gray;
		}
	}
}
