<% wrap_layout :layout do %>
  <article>
    <header>
		<h1><%= kill_orphans current_page.data.title %></h1>
        <h2><%= current_page.date.strftime('%B %e, %Y') %></h2>
    </header>
    <%= yield %>
  </article>
<% end %>
