---
title: an error occured
siteMapExclude: true
---

<section id="main">

<div id="pagehead"><h1>alex cash.</h1></div>

<div id="about">
	<div id="about900">
		<div class="tweet"><h2>404</h2>The page you requested couldn't be found. Some pages' content were recently added to the homepage at <a href="http://www.alexcash.com">www.alexcash.com.</a></div>
	</div>
	<div id="aboutfade"></div>
</div>

<footer>
	Code Content and Design &copy; 2012 Alex Cash<br/>
	Photo &copy; 2012 Yoder's Photography
</footer>

</section>