---
title: Alex Cash
priority: 1.0
---

<section class = "menu">
	<ul>
		<li><a href="http://www.twitter.com/alexcash"><i class="icon-twitter"></i></a></li>
		<li><a href="http://www.github.com/alexcash"><i class="icon-github"></i></a></li>
		<li><a href="http://www.linkedin.com/pub/alex-cash/48/460/307"><i class="icon-linkedin"></i></a></li>
		<li><a href="http://www.facebook.com/alexcash"><i class="icon-facebook"></i></a></li>
	</ul>
</section>