---
sitemap_priority: 1.0
description: "You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here."
notBlog: true
---

<div class="about">
        <h1>ALEX CASH</h1>
         <h2>SOFTWARE ENGINEER</h2>
</div>

<section class="color-grid clearfix">
    <div class="logo nest">
        <div class="nSVG svg"></div>
    </div>

    <div class="logo room12">
        <div class="nr12 svg"></div>
    </div>

    <div class="logo pioneer">
        <div class="pSVG svg"></div>
    </div>

    <div class="logo graceland">
        <div class="gSVG svg"></div>
    </div>


    <div class="expanded nest">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <div class="nSVG svg"></div>
            </div>
            <p>I've been with Nest for just over two and a half years. When I joined the company it had just under 100 employees. Since then its grown to over 700, and was acquired by Google for $3.2 billion. I've built applications across web marketing, web support, web applications, and now iOS. One thing has remained constant, and that's our dedication to great user experiences. I'm proud to have worked on <a href="http://nest.com">nest.com</a>, <a href="http://home.nest.com">home.nest.com</a> and the <a href="https://itunes.apple.com/us/app/nest-mobile/id464988855?mt=8">Nest Mobile iOS App</a>.</p>
        </div>
    </div>
    <div class="expanded room12">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <div class="nr12 svg"></div>
            </div>
            <p>Room 12 is a company my cousins and I started for fun. Over the past few years we've experimented with the App Store in our free time. In 2010, we released <a href="https://itunes.apple.com/us/app/ipredict-lite-fortune-teller/id406282919?mt=8">iPredict</a>, downloaded over a million times. This year, we put out a free game called <a href="https://itunes.apple.com/us/app/ecliptic/id729679099?mt=8">Ecliptic</a>. These side projects have been incredibly enriching for me. I've learned a lot about iOS, games, and the app store.</p>
        </div>
    </div>
    <div class="expanded pioneer">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <div class="pSVG svg"></div>
            </div>
            <p>In Summer 2011, I interned for <a href="https://www.pioneer.com/home/site/us/">Pioneer Hi-Bred</a>. There, I wrote a native iPhone and iPad app for internal software deployment. I also wrote a C# .Net web service to be consumed by the app. This was my first real experience with professional software development, and it helped me grow my skills in web and iOS both.</p>
        </div>
    </div>
    <div class="expanded graceland">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <div class="gSVG svg"></div>
            </div>
            <p>I graduated from Graceland University in May of 2012 with a degree in Computer Science and Information Technology. While I was there, I served as president of our ACM chapter. Participating in ACM programming and robotics competitions gave me a taste for achieving software engineering tasks that at first appear daunting. I'm proud of the degree I received and the time I spent growing myself and my engineering skills there.</p>
        </div>
    </div>
</section>

<div class="row-2">
<!--     <section class="instagram"></section>

    <section class="tweets"></section>

    <section class="lfm"></section>
 --></div>

<section class="blog clearfix">
    <div class="row clearfix">
    <% blog.articles[0...6].each_with_index do |article, index| %>
      <% if (index > 0 and index % 2 == 0) %>
        </div><div class="row clearfix">
      <% end %>

      <article>
        <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        <h4><time><%= article.date.strftime('%m/%d/%Y') %></time></h4>
        <%= article.summary %>
      </article>
    <% end %>
    <div>
</section>

<script type="text/template" id="tweets-template">
    <ol>
        {{# _.each(tweets, function(tweet, index){ }}
            {{# if(index%2 !== 0) { }}
                <li class="tweet_odd">
            {{# }else{ }}
                <li>
            {{# } }}
                <a href="{{ tweet.url }}" class="permalink">{{{ tweet.timestamp }}}</a>
                <p>{{ tweet.body }}</p>
            </li>
        {{# }); }}
    </ol>
</script>
