---
priority: 1.0
notBlog: true
description: "You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here."
---

<section class="blog clearfix">
    <div class="row clearfix">
    <% blog.articles.each_with_index do |article, index| %>
      <% if (index > 0 and index % 2 == 0) %>
        </div><div class="row clearfix">
      <% end %>

      <article>
        <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        <h4><time><%= article.date.strftime('%m/%d/%Y') %></time></h4>
      </article>
    <% end %>
    <div>
</section>
