---
sitemap_priority: 1.0
description: "You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here."
notBlog: true
---

<section class="blog clearfix">
    <div class="row clearfix">
    <% blog.articles.each_with_index do |article, index| %>
      <% if (index > 0 and index % 2 == 0) %>
        </div><div class="row clearfix">
      <% end %>

      <article>
        <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        <h4><time><%= article.date.strftime('%B %e, %Y') %></time></h4>
        <%= article.summary %>
      </article>
    <% end %>
    <div>
</section>

<script type="text/template" id="tweets-template">
    <ol>
        {{# _.each(tweets, function(tweet, index){ }}
            {{# if(index%2 !== 0) { }}
                <li class="tweet_odd">
            {{# }else{ }}
                <li>
            {{# } }}
                <a href="{{ tweet.url }}" class="permalink">{{{ tweet.timestamp }}}</a>
                <p>{{ tweet.body }}</p>
            </li>
        {{# }); }}
    </ol>
</script>
