---
title: Alex Cash
priority: 1.0
---

<section class="tout">
	<h2>Design</h2>
	<p>The web should be a beautiful place. It's my job not just to facilitate interactions, deliver content, or write code. It's also my job to make my user's experiences delightful. While I pride myself in being able to make a professional design come to life, I also push myself to craft entire experiences from begining to end. Better understanding design makes me a better engineer.</p>
</section>

<section class="tout">
	<h2>Code</h2>
	<p>Like any good craftsmen, I believe a good developer must love his tools. Whether it's html, css, or javascript, I want to be an expert on good engineering practice, and paths to productivity in front end development. Before being a professional in web technologies, I developed for iOS. I wrote iPredict, an app downloaded over a million times for room 12 studios.</p>
</section>

<section class="tout">
	<h2>Work</h2>
	<p>I'm a front end engineer at Nest. I love my job. I get to work every day on creating web experiences to delight. I started at Nest as an intern, before that I also had the opportunity to intern with Pioneer Hi-Bred. In May of 2012, graduated from Graceland univeristy with a degree in Computer Science and Information Technology.</p>
</section>

<section class="tout">
	<h2>Play</h2>
	<p>In my free time I like to hone my design and development skills. This site is an example of some of that work. I play World of Warcraft, where I raid in the guild &lt; Dulce Bellum &gt; on Stonemaul-US. When I'm not in front of a glowing scren I like to spend my time geocaching with my wife on trails and in parks accross the coutnry.</p>
</section>

<section class="tweet"></section>

<section class="blog">
	<h2>Blog</h2>
	<p>Dangerous thoughts from a dangerous man.</p>

	<% blog.articles.each do |article| %>
	  <article>
	    <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
	    <h4><time><%= article.date.strftime('%b %e %Y') %></time></h4>
	  </article>
	<% end %>
</section>

<section class="timeline">
	<h2>Deep Freeze</h2>
	<div class="slider">
		<div class="slide">
			<div class="version v1">
				<a href="/deepfreeze/v1/">
					<img src="../images/v1.png"><br>
					v1<br>
					February 2012
				</a>
			</div>
			<div class="version v2">
				<a href="/deepfreeze/v2/">
					<img src="../images/v2.png"><br>
					v2<br>
					April 2012
				</a>
			</div>
			<div class="version v3">
				<a href="/deepfreeze/v3/">
					<img src="../images/v3.png"><br>
					v3<br>
					June 24, 2012
				</a>
			</div>
			<div class="version v4">
				<img src="../images/v4.png"><br>
				v4<br>
				Today
			</div>
		</div>
	</div>
</section>