---
title: Alex Cash
---
<!-- design code work play -->
<section class="me">
	<header>
		<h1>Alex Cash</h1>
		<p>You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here.</p>
	</header>
</section>

<section class="blog-preview">
	<h2><a href="/blog/">Blog</a></h2>
	<article>
		<h3><a href="<%= blog.articles[0].url %>"><%= blog.articles[0].title %></a></h3>
		<%= blog.articles[0].summary %>
	</article>
</section>

<section class="tout about">
	<h2>This Site</h2>
	<p>This site serves as both an example of my skills, and a proving ground to hone them. I frequently itterate upon it, forcing myself to grow and learn.</p>
	<p>Web sites should be beautiful, funcitonal, clear, and concise. Engineering practices should serve this purpose, and likewise need to be well defined, elegant, and flexible. I believe that the proof is in the pudding, so you can dig into the code yourself <a href="https://github.com/alexcash/alexcash.com">on Github</a>.</p>
</section>

<section class="tout dev">
	<h2>iOS</h2>
	<p>While in college, I co-founded <a href="http://www.room12studios.com/">Room 12 Studios</a> and wrote <a href="http://itunes.apple.com/us/app/ipredict-lite-fortune-teller/id406282919?mt=8">iPredict</a>, an iOS app downloaded over a million times. While simple, it hit th right notes, and went on to reach the #1 slot on the free entertainment top charts, and #98 free over all in the US.</p>
	<p>The experience I got with room 12 helped springboard me into an internship with <a href="http://www.pioneer.com/">Pioneer</a>, where I served as an iOS and .Net engineering intern.</p>
</section>

<section class="tout">
	<h2>Samp1</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sapien sem, non dictum lacus. Curabitur a lectus nulla. Nullam aliquet pellentesque lacus, id imperdiet sapien tempor et. Phasellus eros nulla, pharetra at imperdiet a, vehicula at libero. Proin pulvinar, lacus eget suscipit vestibulum, dui magna rutrum mi, ac vehicula purus arcu eu metus. Aliquam id neque pharetra felis ornare iaculis vitae eget est.</p>
</section>

<section class="tout">
	<h2>Samp2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sapien sem, non dictum lacus. Curabitur a lectus nulla. Nullam aliquet pellentesque lacus, id imperdiet sapien tempor et. Phasellus eros nulla, pharetra at imperdiet a, vehicula at libero. Proin pulvinar, lacus eget suscipit vestibulum, dui magna rutrum mi, ac vehicula purus arcu eu metus. Aliquam id neque pharetra felis ornare iaculis vitae eget est.</p>
</section>

<section class="timeline">
	<div class="v1"> Version 1 <br> </div>
	<div class="v1"> Version 2</div>
	<div class="v1"> Version 3</div>
	<div class="v1"> Version 4</div>
</section>