---
title: Alex Cash
---

<section id="main">

<div id="pagehead"><h1>alex cash.</h1></div>

<nav>
	<ul>
		<li><a href="#pagehead">about me.</a></li>
		<li><a href="#aboutsite">about the site.</a></li>
		<li><a href="#dev">development.</a></li>
		<li><a href="#connect" class="bg">connect.</a></li>
	</ul>
</nav>

<div id="about">
	<div id="about900">
		<div class="tweet tweetr"></div>
		<div class="container">
			<h2>about me.</h2>
				<p>You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here.</p>
				<p>I'm currently interning with <a href="http://www.nest.com/">Nest Labs</a> doing front end web development for both Marketing and Engineering teams. I previously interned with <a href="http://www.pioneer.com/">Pioneer Hi-Bred</a> where I wrote an iOS app and web service that are still in production.</p>
				<p>I co-founded and developed for <a href="http://www.room12studios.com/">Room 12 Studios</a>. Best known for the app <a href="http://itunes.apple.com/us/app/ipredict-lite-fortune-teller/id406282919?mt=8">iPredict</a>, downloaded from the App Store over a million times.</p>
				<p>I graduated from <a href="http://graceland.edu/">Graceland University</a> in May 2012 as a Computer Science Information Technology major.</p>
				<p class="accentText">take a look around.<br>see what I'm all about.</p>
	
		</div>
	</div>
	<div id="aboutfade"></div>
</div>

<div id="aboutsite">
	<div id="aboutsite900">
		<div class="container">
			<h2>about the site.</h2>
			<p>The code and design for this site, aside from some common open source <a href="humans.txt">tools</a>, were created entirely by me. In an effort to constantly grow and learn, I am always iterating on the design and code of this site. This is the third version of the site since launch just four months ago.</p>
			<p>The web should be functional, aesthetically pleasing, and easy to understand. However, to ensure compatibility, longevity, and ease of development there are some best practices that I always observe. I use the concepts of <a href="http://en.wikipedia.org/wiki/Responsive_Web_Design">responsive web design</a>, so that the user is always seeing content in a way that makes sense for their screen size. While I'm always pushing the envelope with new standards like CSS3 and HTML 5, I also strive to achieve <a href="http://en.wikipedia.org/wiki/Progressive_enhancement">graceful degradation</a>, so that the site is functional and attractive even in legacy browsers.</p>
			<p>My code is completely <a href="http://en.wikipedia.org/wiki/Open_source">open source</a> and <a href="https://github.com/alexcash/alexcash.com">available on Github</a>. During development, I use descriptive variable and element names, comment my code, and make frequent version control commits with useful logs. When I'm ready for deployment, I concatenate my javascript, and I minify every single text based file, including my HTML, Javascript, and CSS so that my pages load blazingly fast.</p>
		</div>
	</div>
	<div id="aboutsitefade"></div>
</div>

<div id="dev">
	<div id="dev900">
		<div class="container">
			<h2>development.</h2>
				<p>I did all the programming for <a href="http://itunes.apple.com/us/app/ipredict-lite-fortune-teller/id406282919?mt=8">iPredict</a>, an iOS application available on the App Store that has been downloaded over a million times. At it's height it reached #2 free app in Australia, #1 free entertainment app in the United States, and #98 free app over all in the states. It provides cheeky bits of wisdom and predictions not unlike what you'd find inside a fortune cookie.</p>
				<p>Believe it or not, our users love it, with over 3100 people reviewing the app yielding an average rating of three and half stars. What started out as a simple proof of concept drove very successful sales of a premium version, and achieved quite some popularity <a href="http://statigr.am/tag/ipredict">on instagram</a> and <a href="http://twitter.com/#!/search/%23iPredict">twitter</a>. It was absolutely a team effort with my partners at <a href="http://www.room12studios.com/">Room 12 Studios</a>, who provided graphic design, witty writing, and business smarts.</p>
				<p>The experience I got at Room 12 was invaluable. It gave me the opportunity to learn about <a href="http://en.wikipedia.org/wiki/Objective-C">Objective-C</a>, the <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC</a> paradigm, and <a href="http://en.wikipedia.org/wiki/Memory_management">memory management</a>.</p>
				<p>In addition to traditional websites such as this one, I've also worked at length with web app development using javascript. My experience includes frameworks and libraries like <a href="http://jquery.com/">jQuery</a>, <a href="http://emberjs.com/">Ember.js</a>, and <a href="http://sproutcore.com/">Sproutcore</a>. While much of that work belongs to employers, I did write a <a href="http://www.alexcash.com/nesTweet/">twitter client</a> using Ember that is open source with code available on <a href="https://github.com/alexcash/nesTweet">Github</a>. Although not as extensively, I've also had the chance to work on projects using <a href="https://www.djangoproject.com/">Django</a> and <a href="http://rubyonrails.org/">Rails</a>.</p>
				<p>During my time in college, I also competed regularly in <a href="http://icpc.baylor.edu/">ACM ICPC</a> speed programming competitions, as well as <a href="http://www.micsymposium.org/">MICS</a> robotics competitions. I also used the opportunity of a journalism class assignment to make a <a href="http://www.binarysmokesignals.com">blog</a> to design and code a Wordpress theme. On the blog you can find a <a href="http://www.binarysmokesignals.com/adventures-in-robotics/">post</a> explaining details of the robotics competitions I participated in.</p>
		</div>
	</div>
	<div id="devfade"></div>
</div>

<div id="connect">
	<div id="connect900">
		<div class="container">
		<h2>connect.</h2>
			<div id="linksblock">
					<div class="link"><a href="http://www.facebook.com/alexcash"><img src="images/f.png"><br>Facebook</a></div>
					<div class="link"><a href="http://www.twitter.com/alexcash"><img src="images/t.png"><br>Twitter</a></div>
					<div class="link"><a href="http://www.github.com/alexcash"><img src="images/g.png"><br>Github</a></div>
					<div class="link"><a href="http://www.linkedin.com/pub/alex-cash/48/460/307"><img src="images/in.png"><br>Linkedin</a></div>
			</div>
		</div>
	</div>
	<div id="connectfade"></div>
</div>

<footer>
	Code Content and Design &copy; 2012 Alex Cash<br/>
	Photo &copy; 2012 Yoder's Photography
</footer>

<div id="flex"></div>
<div id="fix"></div>

</section>